/* Card.css */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px; /* Increased the width for a fatter look */
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 500px; /* Increased the height */
  object-fit: cover;
}

.card-details {
  padding: 15px; /* Increased padding for more space inside the card */
}

.card h2 {
  font-size: 18px; /* Slightly increased the font size */
  margin: 10px 0;
  font-weight: bold;
}

.card p {
  font-size: 15px; /* Slightly increased font size */
  color: #555;
}
